body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    color: #666;
}

h3, h2, h1, h4 {
    font-family: Poppins;
    font-style: normal;
    letter-spacing: -0.02em;

}

a, p {
    font-family: Poppins;
    font-style: normal;
    letter-spacing: -0.02em;

}

a {
    text-decoration: none;
color: #666;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


